* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
	background-size: cover;
  min-height: 100vh;
  background: rgb(19, 78, 19);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
}

.app--main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
}

.block--only-card {
  display: flex;
}

.block--deck {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-bottom: 10px;
  margin-top: 45px;
}

.white {
  color: white;
}

h1 {
  margin: 0;
  font-size: 1rem;
}

label {
  font-size: 0.7rem;
  font-weight: bold;
}

.block__user--form {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 15px;
	min-height: 350px;
}

.block__card--main {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-gap: 10px;
}

.block__card--image img {
  max-width: 4rem;
}
.block__card--info {
  align-self: center;
}

input {
  text-align: center;
  border-style: solid;
  border-radius: 2px;
  background: white;
  color: black;
}
button {
  border-radius: 10px;
  padding: 5px;
}

.block__image--effect {
  font-weight: bold;
  font-size: 0.8rem;
}

.block--number-card {
  display: grid;
  grid-template-columns: 1fr auto 30px auto;
  grid-template-rows: 40px;
  align-items: center;
}

@media screen and (min-width: 440px) {
  h1 {
    margin: 0;
    font-size: 1.5rem;
    color: white;
  }
  .block__user--form {
    width: 45%;
    margin-top: 0.5rem;
  }
  .block__card--main {
    grid-template-columns: 0.5fr 0.3fr;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.block__card--card {
  font-size: 0.75rem;
  text-align: center;
}

.block--player-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 25px;
}

header{
	display:flex;
	justify-content: space-between;
	margin-bottom:50px;
}
.menu{
	display:flex;
	list-style: none;
	justify-content: space-between;
	font-size:0.75rem;
}

.menu li{
	margin-right:15px;
}

.menu li a:visited{
	color:white;
}